html{
  background-color: rgb(255, 238, 230);
  max-width: 100%;
  overflow-x: hidden;
}

header h1 {
  font-family: avenir, sans-serif;
  font-weight: bold;
  font-size: 48px;
  color: blue;
  text-align: center;
  position: relative;
  top: 60px;
}

header h2 {
  font-family: avenir, sans-serif;
  font-weight: bold;
  font-size: 48px;
  color: transparent;
  -webkit-text-stroke: 1.25px black;
  position: relative;
  left: 548px;
  top: -48px;
}

header h6{
  font-family: avenir, sans-serif;
  font-weight: 500;
  position: relative;
  left: 60px;
  top: -120px;
  color: blue;
}

.fa-search{
  position: relative;
  left: 33px;
  top: -160px; 
  color: blue;
}

.nav{
  font-family: avenir, sans-serif;
  font-size: 12px;
  color: blue;
  position: relative;
  left: 550px;
  top: -120px;
}

.nav2{
  font-family: avenir, sans-serif;
  font-size: 12px;
  color: red;
  text-align: center;
  position: relative;
  top: -135px;
}

.nav3{
  font-family: avenir, sans-serif;
  font-size: 12px;
  color: blue;
  position: relative;
  left: 850px;
  top:-148px;
}

intro{
  font-size: 100px;
  font-family: avenir, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 5px;
}

.gif{
  position: relative;
  top: -250px;
}

.notable{
  font-family: avenir, sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  color: red;
  text-align: center;
  letter-spacing: 2px;
  position: relative;
  top: -315px;
}

.notable2{
  font-family: avenir, sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: .75px black;
  letter-spacing: 2px;
  position: relative;
  left: 594px;
  top: -350px;
}

.see-all{
  font-family: avenir, sans serif;
  text-transform: uppercase;
  font-size: 12px;
  color: red;
  text-align: center;
  position: relative;
  top: -325px;
}

.fa-chevron-left{
  color: blue;
  font-size: 64px;
  position: relative;
  left: 30px;
  top: -470px;
}

.optima{
  height: 400px;
  padding-top: 20px;
  padding-right: 25px;
  padding-left: 60px;
  position: relative;
  top: -290px;
}

.palatino{
  height: 400px;
  padding-right: 25px;
  position: relative;
  top: -290px;
}

.urwgrotesk{
  height: 400px;
  position: relative;
  top: -290px;
}

.commenius{
  width: 400px;
  transform: rotate(-90deg);
  position: absolute;
  top: 1000px;
  right: 35px;
}

.fa-chevron-right{
  color: blue;
  font-size: 64px;
  position: absolute;
  right: 35px;
  top: 1100px;
}
   